div{
    width: 500px;
    margin: auto;
    background-color: bisque;
    border-radius: 10px;
}
table{
    width: 400px;
    margin: 0 auto;
    background-color: burlywood;
    padding-bottom: 10px;
    border-radius: 10px;
}
h1{
    text-align: center;
}